.checklist{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fef4f4;

}
.list-input{
    border-width: 0px;
    border-bottom-width: 3px;
    border-color: #fef4f4;
    background: none;
    color: #fef4f4;
}
.list-input:focus{
    outline: none;

}
.list-button{
    background: transparent;
    border: 2px solid white;
    color: white;
}
.list-button:hover{
    background: #fef4f4;
    color: #f65151;
    cursor: pointer;

}
.delete-item{
    display: flex;
    align-items: center;
}