.trip-details{
    display: flex;
}
.trip-detail{
    margin-right: 5px;
    margin-bottom: 10px;
    color: #fef4f4;
}
.trip-button{
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 15px;
    padding: 5px;
}
.trip-button:hover{
    background: #fef4f4;
    color: #f65151;
    cursor: pointer;
}