.add-input{
    border-width: 0px;
    border-bottom-width: 3px;
    border-color: #fef4f4;
    background: none;
    color: #fef4f4;
}
.add-input:focus{
    outline: none;
}
.add-button{
    background: transparent;
    border: 2px solid white;
    color: white;
}
.add-button:hover{
    background: #fef4f4;
    color: #f65151;
    cursor: pointer;
}